<% if !current_user.nil? and !current_user.agreement %>
<h3>You must agree to the latest terms of membership below.</h3>
<% end %>

<%= LocationSettings.get.user_agreement.html_safe %>

<% if !current_user.nil? and !current_user.agreement %>
<p>If you accept these terms, please click the link below.</p>
<h3><a href="?accepted=true">I Agree To These Terms</a></h3>
<h4><a href="/signout">I Do Not Agree</a></h4>
<% end %>
